/*  
*  Author Name: Rifat Bhuiya
*  Author Email: hello.rifatbhuiya@gmail.com
*  Version : 0.0.0.1
* 
* -----------------------
* Table Of Content
* -----------------------
* 0. Common CSS Start
* 1. Header CSS Start
* 2. Navbar CSS Start
* 3. Hero-Area CSS Start
* 4. About CSS Start
* 5. Service CSS Start
* 6. BackToTop CSS Start
* 7. Product CSS Start
* 8. Gallery CSS Start
* 9. Contact CSS Start
* 10. Footer CSS Start
*/

:root {
    --primary-color: #2d3f81;
    --secondary-color: #90BCE4;
    --tertiary-color: #8092AD;
    --quaternary-color: #3E56B0;
    --white: #fff;
    --white-two: #f5f5f5;
    --black: #000;
    --thin-black: #333;
    --gray: #bfcac6;
    --gray-two: #7b7b7b;
    --gray-three: #d9e2e6;
    --text-color: #4e4f53;
    --anchor-color: #424242;
    --h1: 52px;
    --h2: 42px;
    --h3: 33px;
    --h4: 27px;
    --h5: 21px;
    --h6: 17px;
    --large: 19px;
    --default: 17px;
    --small: 14px;
    --border-radius: 25px;
    --transition: all ease .5s;
    --default-family: 'Poppins', sans-serif;
    --italic-family: 'Shantell Sans', 'cursive';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

img,
svg {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
span,
address {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

.in-flex {
    display: inline-flex;
    align-items: center;
}

em {
    font-family: var(--italic-family);
}

.g-1 {
    gap: 6px;
}

.g-2 {
    gap: 8px;
}

.g-3 {
    gap: 10px;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.p-relative {
    position: relative;
    top: 0;
    left: 0;
}

.off-white {
    background-color: var(--white-two);
}

.section-ways-gap {
    padding: 80px 0;
}

.section-heading h3 {
    display: inline-block;
    margin-left: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--italic-family);
    background: -webkit-linear-gradient(65deg, var(--primary-color), var(--gray-two));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-heading h3::after {
    position: absolute;
    top: 0;
    left: -10px;
    content: '';
    height: 100%;
    width: 6px;
    background-color: var(--quaternary-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.br-5px {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.bs-light {
    box-shadow: .5px .5px 3px 0 rgba(45, 63, 129, 0.3);
}

.section-heading-gap {
    padding-top: 48px;
}

.btn-model {
    padding: 8px 24px;
    border: none;
    font: 600 var(--default)/1.4 var(--default-family);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.btn-one {
    color: var(--white);
    background-color: var(--primary-color);
}

.btn-one:hover {
    color: var(--black);
    background-color: var(--gray);
    box-shadow: .5px .5px 3px 0 rgba(255, 255, 255, 0.3);
}

.btn-two {
    color: var(--black);
    background-color: var(--gray);
}

.btn-two:hover {
    color: var(--white);
    background-color: var(--primary-color);
    box-shadow: .5px .5px 3px 0 rgba(45, 63, 129, 0.3);
}

body {
    color: var(--text-color);
    font-family: var(--default-family);
    background-color: var(--white);
}
/* Common CSS End */

.header {
    padding: 4px 0;
    background-color: var(--quaternary-color);
    position: relative;
    z-index: 999;
}

.lang-switcher {
    display: inline-block;
}

.lang-switcher .lang-switch {
    padding: 6px 4px 0 4px;
    background-color: var(--gray);
    border: 1px solid var(--quaternary-color);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.lang-switcher .lang-switch:hover {
    opacity: .9;
    border: 1px solid transparent;
}

.lang-switcher .flag-img {
    width: 20px;
}

.lang-switcher span {
    font-weight: 500;
    font-size: var(--small);
}

.lang-switch .dropdown-menu {
    min-width: 7rem;
    margin-top: 6px !important;
}

.lang-switch .dropdown-menu a {
    margin-top: 4px;
    padding: 4px;
    width: 100%;
    color: var(--text-color);
}

.lang-switch .dropdown-menu a:hover {
    color: var(--white-two);
    background-color: rgba(45, 63, 129, 0.6);
}

.lang-switch .dropdown-menu a.active {
    color: var(--white);
    background-color: var(--primary-color);
}


.header .marquee-text h6 {
    color: var(--white-two);
    font-weight: 400;
    line-height: 1.5;
}

.header .header-links ul {
    text-align: right;
}

.header .header-links ul li {
    display: inline-block;
    padding: 0 4px;
}

.header .header-links ul li a {
    color: var(--gray);
    font-size: var(--default);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.header .header-links ul li a:hover {
    color: var(--white-two);
}
/* Header CSS End */

.this-navbar {
    background-color: var(--tertiary-color);
    box-shadow: .5px .5px 5px 0 rgba(0, 0, 0, 0.3);
}

.nav-anim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--tertiary-color);
    animation: nav-animation linear .8s 1;
    -webkit-animation: nav-animation linear .8s 1;
}

@keyframes nav-animation {
    0% {
        top: -32px;
    }

    100% {
        top: 0;
    }
}

.this-navbar nav {
    padding: 8px 0;
}

.this-navbar .logo img {
    width: 80px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.this-navbar .logo img:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.this-navbar .logo-text {
    display: inline-block;
    margin-left: 8px;
    color: var(--primary-color);
    letter-spacing: .5px;
    font: 700 22px/1.5 var(--default-family);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.this-navbar .navigation-list li {
    padding: 0 4px;
}

.this-navbar .navigation-list li a {
    color: var(--white);
    font-weight: 600;
    font-size: var(--default);
    line-height: 1.5;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    position: relative;
    top: 0;
    left: 0;
}

.this-navbar .navigation-list li a:hover {
    color: var(--primary-color);
}

.this-navbar .navigation-list li a::after {
    position: absolute;
    bottom: 2px;
    left: 8px;
    content: '';
    height: 1px;
    width: 0;
    background-color: var(--primary-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.this-navbar .navigation-list li a:hover::after {
    width: calc(100% - 40px);
}

.this-navbar .navigation-list li a::before {
    position: absolute;
    bottom: -2px;
    left: 8px;
    content: '';
    height: 1px;
    width: 0;
    background-color: var(--primary-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.this-navbar .navigation-list li a:hover::before {
    width: calc(100% - 20px);
}
/* Navbar CSS End */

.main-banner {
    height: 520px;
    z-index: 1;
}

.main-banner::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.720);
    z-index: -1;
}

.main-banner .container,
.row {
    height: 100%;
}

.banner-content h1 {
    color: var(--secondary-color);
    font-weight: 800;
    line-height: 1.1;
}

.banner-content h1 em {
    color: var(--gray);
    font-weight: 700;
}

.banner-content h4 {
    margin-top: 12px;
    color: var(--gray);
    font-weight: 200;
    line-height: 1.3;
}

.banner-content p {
    margin-top: 20px;
    color: var(--gray);
    font-size: var(--default);
    font-weight: 400;
    line-height: 1.4;
}

.banner-action {
    margin-top: 20px;
}

.banner-action ul li {
    display: inline-block;
    padding: 0 4px;
}
/* Hero Area CSS End */

.about-content h4 {
    font-weight: 500;
    color: var(--thin-black);
    margin-bottom: 16px;
}

.about-content h4 span {
    font-weight: 600;
    color: var(--primary-color);
}

.about-content p {
    font-weight: 400;
    font-size: var(--default);
}

.about-quote {
    padding: 12px 10px;
    background-color: var(--gray-three);
}

.about-quote h5 {
    margin-bottom: 16px;
    font-weight: 600;
    color: var(--quaternary-color);
}

.about-quote h5 img {
    width: 24px;
    opacity: .9;
}

.about-quote q {
    font-size: var(--default);
    font-weight: 500;
}
/* About CSS End */

.service-detali-img h5 {
    color: var(--primary-color);
    font-weight: 700;
}

.service-detali-img h6 {
    margin-top: 2px;
    color: var(--thin-black);
    font-weight: 400;
}

.service-detail h4 {
    font-weight: 600;
    color: var(--primary-color);
}

.service-detail p {
    font-weight: 400;
    font-size: var(--default);
    color: var(--primary-color);
}

.service-content {
    margin-top: 24px;
    padding: 12px 20px;
    background-color: var(--gray-three);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.service-content:hover {
    box-shadow: .5px .5px 3px 0 rgba(0, 0, 0, 0.5);
}

.service-content .img {
    display: inline-block;
    height: 68px;
    width: 68px;
    line-height: 68px;
    text-align: center;
    background-color: var(--gray-three);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.service-content .img::after {
    position: absolute;
    content: '';
    height: 70px;
    width: 70px;
    border: 4px solid var(--white);
    top: 0;
    left: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.service-content:hover .img::after {
    border: 4px solid rgba(45, 63, 129, 0.3);
}

.service-content .img img {
    width: 40px;
    opacity: .8;
}

.service-inner {
    margin-top: 40px;
}

.service-inner h4 {
    font-weight: 300;
    line-height: 1.3;
    color: var(--primary-color);
    margin-bottom: 12px;
}

.modal-text {
    font-size: var(--default);
    font-weight: 400;
}

.service-inner .read-more {
    margin-top: 4px;
    text-align: end;
    cursor: pointer;
    color: var(--primary-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.service-inner .read-more:hover {
    color: rgba(45, 63, 129, 0.7);
}

.service-inner .read-more span {
    font-weight: 500;
    font-size: var(--default);
}

.service-inner .read-more i {
    font-size: 15px;
}

.service-inner .read-more:hover i {
    animation: icon-effect linear .5s 2;
    -webkit-animation: icon-effect linear .5s 2;
}

@keyframes icon-effect {
    0% {
        transform: translateX(-4px);
        -webkit-transform: translateX(-4px);
        -moz-transform: translateX(-4px);
        -ms-transform: translateX(-4px);
        -o-transform: translateX(-4px);
    }

    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

.service-inner .modal-detail .modal-title {
    color: var(--primary-color);
    font-size: var(--h5);
    font-weight: 600;
}

.service-inner .modal-detail .modal-body p {
    font-size: var(--default);
    font-weight: 400;
}
/* Service CSS End */

.back-top {
    position: fixed;
    bottom: 28px;
    right: 32px;
    z-index: 30;
    text-align: center;
    height: 48px;
    width: 48px;
    color: var(--white-two);
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    animation: btt linear .7s 2;
    -webkit-animation: btt linear .7s 3;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

@keyframes btt {
    0% {
        transform: scale(.7);
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        -ms-transform: scale(.7);
        -o-transform: scale(.7);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.back-top i {
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.back-top span {
    display: block;
    font-size: var(--small);
    line-height: 1.2;
}

.back-top:hover {
    color: var(--thin-black);
    background-color: var(--gray);
}
/* BackToTop CSS End */

.product-content h5 {
    font-weight: 500;
    line-height: 1.5;
    color: var(--primary-color);
}

.product-content ul {
    list-style-position: inside;
    list-style-type: square;
}

.product-content ul li {
    margin: 4px 0;
}

.product-content ul li span {
    font-weight: 400;
    font-size: var(--default);
}

.product-content p {
    font-weight: 400;
    font-size: var(--default);
}

.product-table {
    margin-top: 20px;
}

.product-table h5 {
    font-weight: 600;
    line-height: 1.5;
    color: var(--primary-color);
}

.product-table blockquote {
    text-align: center;
    margin-top: 8px;
    font-weight: 400;
    font-size: var(--default);
}

.pro-table-inner table {
    width: 100%;
    text-align: center;
}

.pro-table-inner table thead th {
    padding: 8px 0;
    background-color: rgba(45, 63, 129, 0.8);
}

.pro-table-inner table thead span {
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
}

.pro-table-inner table tbody tr {
    background-color: var(--gray);
}

.pro-table-inner table tbody tr:nth-child(odd) {
    background-color: var(--gray-three);
}

.pro-table-inner table tbody tr td {
    padding: 8px 0;
}

.pro-table-inner table tbody span {
    font-size: var(--small);
    font-weight: 400;
    color: var(--thin-black);
}
/* Product CSS End */

.gallery-detail {
    text-align: center;
}

.gallery-detail h4 {
    color: var(--quaternary-color);
    font-weight: 600;
}

.gallery-detail p {
    margin-top: 4px;
    font-size: var(--default);
    font-weight: 400;
}

#gallery .arrows .next,
.prev,
.next2,
.prev2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 20;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    color: var(--white);
    background-color: var(--primary-color);
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#gallery .arrows .next:hover,
.prev:hover,
.next2:hover,
.prev2:hover {
    color: var(--thin-black);
    background-color: var(--gray);
}

.arrows .next,
.next2 {
    left: -4px;
}

.arrows .prev,
.prev2 {
    right: -4px;
}

.gallery-content {
    margin: 2px 4px;
}

.gallery-content a {
    padding: 4px;
    background-color: var(--quaternary-color);
    box-shadow: .5px .5px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.gallery-content a:hover {
    background-color: var(--gray);
}

.area-gallery-slide .gallery-content a img {
    height: 200px;
    object-fit: cover;
    object-position: center;
}
/* Gallery CSS End */

.contact-content {
    padding: 12px 16px;
    background-color: var(--gray-three);
}

.contact-content h4 {
    font-weight: 600;
    color: var(--primary-color) !important;
    display: inline-block;
    border-bottom: 2px solid var(--quaternary-color);
    font-family: var(--italic-family);
}

.contact-content ul li {
    margin: 4px 0;
}

.contact-content ul li a {
    font-size: var(--large);
    color: var(--anchor-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.contact-content ul li a:hover {
    text-decoration: underline;
}

.contact-content ul span {
    font-size: var(--default);
}
/* Contact CSS End */

footer {
    padding: 40px 0;
    background-color: #020a29;
}

footer .copy span {
    font-size: var(--default);
    color: var(--gray);
}

footer .copy span a {
    color: var(--white-two);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

footer .copy span a:hover {
    color: var(--gray);
    text-decoration: underline;
}

footer .address h5 {
    color: var(--white-two);
    font-weight: 400;
    margin-bottom: 8px;
}

footer .address address {
    color: var(--gray);
}
/* Footer CSS End */